:root{
 --smallScrColor: #ffd000;
 --small2ndyellow:#fab803;
 --mediumScrColor: #ff173a;
 --largeScrColor: purple;
 --myGrayColor: #4d4d4df4;
 --font: 'Monteserrat-bold', sans-serif;
 --font2: 'Monteserrat-black', sans-serif;
}

*{
 margin: 0;
 box-sizing: border-box;
}
body{
 font-family: 'Monteserrat', sans-serif;
}
.banner{
 background-color: #ffd000;
 /* height: auto; */
}
nav{
 background: var(--smallScrColor);
}
.logo{
 display: flex;
 padding-top: 40px;
 padding-bottom: 20px;
 text-align: center;
 color: #fff;
 font-size: 3.5rem;
}
.logo1{
 color: #fff;
 font-size: 3.5rem;
}
.navbar-brand{
 /* color: #fff; */
 font-size: 5.5rem;
 font-weight: bold;
 margin-left: 60px;
 color: #fff;
}

.navbar{
 font-size: 1.5rem;
 color: #fff;
}

.navbar-toggler{
 color: #fff;
}

#title{
 color: #fff;
}


/* h1 */
.h1-moda{
 margin: auto;
 text-align: left;
 display: flex;
}

.h1f{
 color: white;
 font-weight: 900;
 /* max-width: 200px; */
 font-family: 'Monteserrat', sans-serif;
 font-size: 3rem;
 line-height: 1.5;
 margin: auto;
 margin-left: 70px;
 flex-grow: 1;
 flex-wrap: wrap;
}
/* end of h1 */

.btn-container{
 display: grid;
 margin-left: 70px;
 gap: 40px 20px;
 margin-top: 30px;
 margin-bottom: 20px;
}
.btn{
 padding: 10px 5px 10px;
 width: 11rem;
 height: 3rem;
 color: white;
}
.fa-brands{
 font-size: 25px;
 margin-right: 5px;
 /* color: white; */
}
.btn-apple{
 background-color: black;
}
.iconf{
 text-decoration: none;
 font-size: 23px;
 color: white;
}
.iconf:hover{
 text-decoration: none;
 color: wheat;
 background-color: #ffffff07;
}
#a1:hover{
 color: black;
 background: #fff;
}
.mama:hover{
 background-color: black;
 max-width: 11rem;
 color: white;
}
.btn-playstore{
 background: transparent;
 outline: 0.8px solid white;
 /* outline-style: solid; */
}

/* image */
.img-container{
 display: grid;
}
.img1{
 width: 14rem;
 margin-left: 50px;
 border-radius: 10px;
 outline: 1px dashed whitesmoke;
 outline-offset: 5px;
}

/* 
===================================
media query TAB,Laptop and Desktop size
======================       ========
*/

@media screen and (min-width:620px) {
 .banner{
  background: #ff173a;
  padding-left: 60px;
 }
 nav{
  background: var(--mediumScrColor);
 }
 .btn-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 10px;
 }
 .img-container{
  display: grid;
  margin-top: 20px;
 }
 .img1{
  width: 60%;
  border-style: none;
  vertical-align: middle;
  margin-top: 10px;
 }
 .h1-moda{
  max-width: 700px;
 }
}

/* laptop SIZE */
@media screen and (min-width:800px){
 .banner{
  background-color: purple;
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
 nav{
  background-color: purple;
 }
 .navbar{
  padding-top: 40px;
 }
 .img1{
  width: 60%;
 }
 .btn-container{
  display: flex;
  flex-direction: row;
 }
}

/* DESKTOP size */
@media screen and (min-width:900px){
 .banner{
  background: green;
 }
 nav{
  background: green;
 }
 .img-container{
  position: static;
  padding: 3% 10% 7%;
  text-align: right;
 }
 .img1{
  transform: rotate(25deg);
  /* width: 25vw; */
  vertical-align: middle;
  
 }
 *{
  box-sizing: border-box;
 }
 .h1f{
  font-size: 3.5rem;
 }
 .banner{
  text-align: center;
  
 }
}
/* 
=============================
dog Article section
======================       
*/
.contain{
 background: whitesmoke;
 text-align: center;
 padding: 5% 15% 7%;
 font-family: 'Monteserrat', sans-serif;
}
.dog-parent{
 font-family: 'Monteserrat', sans-serif;
 padding-bottom: 10px;
}

.dog-f{
 padding: 5%;
}
.dog-icon{
 font-size: 4rem;
 color: #ffd000;
 /* padding: 23px 0 20px 0; */
 margin-bottom: 20px;
}
.dog-icon:hover{
 color: #ffee00;
}
.dog4{
 font-weight: 700;
 color: black;
 font-family: 'Monteserrat-bold', sans-serif;
}
.dog-p{
 font-size: larger;
 color: #4d4d4df4;
 /* color: #8f8f8f; */
 font-weight: lighter;
}
/* =====================
DOG SECTION media quaries
==========================
*/
@media screen and (min-width:620px) {
 .contain{
  background: whitesmoke;
 }
.dog-icon{
 color: var(--mediumScrColor);
}
.dog-icon:hover{
 color: #ff178f;
}
}

@media screen and (min-width:800px) {
 .dog-parent{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  padding: 10px;
  padding: 7% 1% 7%;
  gap: 0 40px;
 }
.dog-icon{
 color: purple;
}
.dog-icon:hover{
 color: #ff178f;
}
}

@media screen and (min-width:900px) {
 .dog-parent{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  padding: 10px;
  padding: 7% 1% 7%;
  gap: 0 40px;
 }
.dog-icon{
 color: green;
}
.dog-icon:hover{
 color: purple;
}
}

/* CAROUSEL testimonials section 
================================
*/
.testimonial-c{
 background: #fab803;
 text-align: center;
 padding: 9% 15% 5%;
 color: #fff;
 
}
.dog-img{
 border-radius: 100%;
 width: 15%;
 margin: 20px;
}
.dog-words{
 /* color: #fff; */
 font-family: 'Monteserrat-bold', sans-serif;
 font-size: 48px;
 font-weight: 700;
 letter-spacing: 1.5;
 margin-bottom: 10px;
}
/* CAROUSEL MEDIA QUERY */
@media screen and (min-width:620px) {
 .testimonial-c{
  padding: 8% 10% 5%;
  background: var(--mediumScrColor);
 }
}

@media screen and (min-width:800px) {
 .testimonial-c{
  padding: 8% 13% 5%;
  background: purple;
 }
}

@media screen and (min-width:900px) {
 .testimonial-c{
  padding: 8% 13% 5%;
  background: green;
 }
}

/* MEDIA COVERAGE
==================
                  */

.media-coverage{
 background: #fab803;
 text-align: center;
}
.media-cov{
 width: 18%;
 margin: 20px 13px 70px;
}
/* MEDIA COV MEDIA QUERY */
@media screen and (min-width:620px) {
 .media-coverage{
  background: var(--mediumScrColor);
 }
}

@media screen and (min-width:800px) {
 .media-coverage{
  background: purple;
 }
}

@media screen and (min-width:900px) {
 .media-coverage{
  background: green;
 }
}
/* Box Dogs Advert dogs needs
==================
                 */
.h1g{
font-size: 50px;
font-weight: 800;
line-height: 0.5;
margin-bottom: 30px;
padding: 5px 10px;
}
.dog-box-con{
 padding: 7% 25% 5% 25%;
 text-align: center;
 font-family: var(--font2);
 font-weight: 500;
 /* border-radius: 30px; */
}
.dog-box-ads{
 border: 0.1px solid grey;
 margin: 4% auto;
 width: 40vw;
 min-width: 220px;
 padding-bottom: 20px;
 text-transform: capitalize;
 border-radius: 6px;
}
.dog-box-head{
 background: var(--small2ndyellow);
 padding: 13px 10px 10px;
 margin-bottom: 25px;
 border-top-right-radius: 5px;
 border-top-left-radius: 5px;
 color: #fff;
 text-align: center;
 
}
.h1h2{
 font-weight: 700;
 text-align: center;
 font-size: 40px;
 font-size: 2.5rem;
}
.box-para{
 color: var(--myGrayColor);
 margin-top: 20px;
 margin-bottom: 10px;
 font-family: var(--font);
 padding: 5px 10px;
 font-size: larger;
 letter-spacing: 0.7px;
}
.dogbox-btn{
 padding: 10px 20px 10px;
 border-radius: 8px;
 width: 80%;
 font-size: 20px;
 font-weight: lighter;
 background: var(--small2ndyellow);
 color: #fff;
 text-align: center;
}
/* DOG BOX ADS MEDIA QUERY */
@media screen and (min-width:620px) {
 .dog-box-head{
  background: var(--mediumScrColor);
 }
 .dogbox-btn{
  background: var(--mediumScrColor);
 }

}

@media screen and (min-width:800px) {
 .dog-box-head{
  background: purple;
 }
 .dogbox-btn{
  background: purple;
 }
 .dog-box-con{
  padding: 60px;
 }
 #dog-box-con{
  /* justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px 30px;
 }
 .dog-box-ads{
  flex: 1 0 300px;
 }

}
@media screen and (min-width:900px) {
 .dog-box-head{
  background: green;
 }
 .dogbox-btn{
  background: green;
 }
 .dog-box-con{
 
 }
 #dog-box-con{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 30px;
 }.dog-box-ads{
  width: 27vw;
 }

}

/* 
==================
FIND DOG LIFE
==================
*/
.find-doglife{
 background: var(--smallScrColor);
 text-align: center;
 padding: 7% 15% 5%;
 margin: 20px auto 10px;
}
.h1life{
 line-height: 90px;
 font-size: 60px;
 font-family: var(--font);
 color: #fff;
}
.a1{
 margin: 15px;
}
/* FIND DOG LIFE MEDIA QUERY */
@media screen and (min-width:620px) {
 .find-doglife{
  background: var(--mediumScrColor);
 }
}
@media screen and (min-width:800px) {
 .find-doglife{
  background: purple;
 }
}
@media screen and (min-width:900px) {
 .find-doglife{
  background: green;
 }
}
/* 
===============
FOOTER
===============
*/
.dog-footer{
 text-align: center;
}
.dog-footer{
 height: 10%;
 background: #fff;
}

.footer-link{
 display: inline-block;
 font-size: 30px;
 text-align: center;
 padding: 10px;
 color: #ffd000;
}
#box-para:hover{
 font-size: 21px;
 font-weight: 600;
 color: rgb(30, 29, 29);
}
/* FOOTER media query */
@media screen and (min-width:620px) {
 .footer-link{
  color: var(--mediumScrColor);
 }
}
@media screen and (min-width:800px) {
 .footer-link{
  color: purple;
 }
}
@media screen and (min-width:900px) {
 .footer-link{
  color: green;
 }
}